@model Author;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css">
    <title>Создание автора</title>
</head>
<body>
    <div class="content">
        <div class="edit-block">
            <h2>Добавление автора</h2>
            @using (Html.BeginForm("createAuthor", "Home"))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="dataBox">
                    <label>Имя</label><br />
                    @Html.TextBoxFor(m => m.Name, new { @class = "text-box" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="dataBox">
                    <label>Страна</label><br />
                    @Html.TextBoxFor(m => m.Country, new { @class = "text-box" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>        
       
                <br />
                <div class="dataBox">
                    <input type="submit" value="Сохранить" />
                </div>
            }
        </div>

        <div class="button_block">
            <div class="back">
                <a asp-action="listAuthor">К списку авторов</a>
            </div>
        </div>
    
    </div>
</body>
</html>

