@model Author;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css">
    <title>Информация об авторе</title>
</head>
<body>
    <div class="content">
        <h2>Автор</h2>
        <div class="instr-block">
            @Html.HiddenFor(m => m.Id)
            <div style="font-weight:600">Имя: </div>
            <div>@Model.Name</div>
            <br />
            <div style="font-weight:600">Страна: </div>
            <div>@Model.Country</div>
            <br />
            <div>
                <div style="font-weight:600">Песни автора:</div>
                @foreach (var item in ViewData["Songs"] as IQueryable<Song>)
                {
                    @(item.Name+" - "+@item.Year) <br />
                }
            </div>
            <br />
            @Html.ActionLink("Редактировать", "editAuthor", Model)
        </div>

        <div class="button_block">
            <div class="back">
                <a asp-action="Index">К списку песен</a>
            </div>
        </div>
    </div>
</body>
</html>
